{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/" class="active">Home</a>
            </div>
    </div>
    <div class="content-with-background-color grid-item-col-1-row-2">
         <p> Welcome to MTN!</p>
    </div>
    <div class="content-with-background-image grid-item-row-1">
        <div class="animated-content">
        </div>
    </div>
</div>

{% endblock%}
